<!-- SECCION DE PROYECTOS -->
<section class="contenedor">
    <div class="contenedor__barraTitulo">
        <h2>Proyectos</h2>
        <i class="fa-solid fa-plus"></i>
    </div>
    <div class="contenedor__child">
        <img src="../assets/ta-te-ti.jpg" alt="TA-TE-TI-javascript" id="tateti">
        <div class="descripcionPuesto">
            <h3><a href="https://Nahuel81.github.io/proyectoJS/" target="_blank">TA-TE-TI | (click para jugar)</a></h3>
            <p>El juego de TA-TE-TI, también llamado tic-tac-toe, tres en raya- es un juego simple, 
                normalmente jugado con papel y lápiz en el que dos jugadores, uno con un símbolo X y el otro O deben conseguir
                 colocar su ficha en línea en un tablero de 3x3.
                 En esta ocacion te enfrentaras a inteligencia artificial desarrollada por mi. Te desafio a Ganar :D
            </p>
        </div>
        <div class="iconosEdicion">
            <i class="fa-solid fa-pen"></i>
            <i class="fa-solid fa-trash"></i>
        </div>
    </div>
    <div class="contenedor__child">
        <img src="" alt="PROYECTO2">
        <div class="descripcionPuesto">
            <h3><a href="" target="_blank">Proyecto 2 |Subir Proyecto 2</a></h3>
            <p> 
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                 Veniam assumenda voluptatibus esse, ipsam est quaerat nemo adipisci ipsum commodi
                . Necessitatibus dolorum accusamus dolorem, error recusandae voluptas laborum omnis nam doloribus.
            </p>
        </div>
        <div class="iconosEdicion">
            <i class="fa-solid fa-pen"></i>
            <i class="fa-solid fa-trash"></i>
        </div>
    </div>
</section>
