<!-- SECCION EDUCACION INICIO -->
<section class="contenedor">
    <div class="contenedor__barraTitulo">
        <h2>Educación</h2>
        <i class="fa-solid fa-plus"></i>
    </div>
    <div class="contenedor__child">
        <img src="../assets/APLogo-20-20.png" alt="Argentina programa">
        <div class="descripcionPuesto">
            <h3>Argentina Programa</h3>
            <h4>Desarrollador Web Fullstack</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur odit reprehenderit Lorem ipsum
                dolor sit amet consectetur, adipisicing elit. Nesciunt, sint!</p>
        </div>
        <div class="iconosEdicion">
            <i class="fa-solid fa-pen"></i>
            <i class="fa-solid fa-trash"></i>
        </div>
    </div>
    <div class="contenedor__child">
        <img src="../assets/sup-comercio1.jpg" alt="Sup Comercio">
        <div class="descripcionPuesto">
            <h3>Escuela Superior de Comercio</h3>
            <h4>Analista de Sistemas</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur odit reprehenderit Lorem ipsum
                dolor sit amet consectetur, adipisicing elit. Nesciunt, sint!</p>
        </div>
        <div class="iconosEdicion">
            <i class="fa-solid fa-pen"></i>
            <i class="fa-solid fa-trash"></i>
        </div>
    </div>
</section>
<!-- FIN SECCION DE EDUCACION -->
