<header id="welcome-section">
    <nav id="navbar">
        <img src="../assets/APLogo-20-20 - copia.png" alt="Logo de Argentina programa" class="logoHeader">
        <ul>
            <li><a href="https://www.twitter.com/Villandie"
                    target="_blank"><i class="fa-brands fa-twitter"></i><span> Twitter</span></a></li>
            <li><a href="mailto:diegovillan81@gmail.com" target="_blank"><i class="fa-solid fa-envelope"></i>
                    <span>Email</span></a></li>
            <li><a href="https://github.com/Nahuel81/" id="profile-link" target="_blank"><i
                        class="fa-brands fa-github"></i><span> Github</span></a></li>
            <li><a href="https://www.linkedin.com/in/diego-nahuel-2724a522b/" target="_blank"><i class="fa-brands fa-linkedin"></i>
                    <span>Linkedin</span></a></li>
            <li><i class="fa-solid fa-circle-user iconoLogueo"></i></li>
        </ul>
    </nav>
            <!-- Header Banner con Imagen -->
    <div class="welcome">
       <h1> D N V X </h1><br>
    </div>
    
</header>
