 <!-- SECCION DE EXPERIENCIAS -->
 <section class="contenedor">
    <div class="contenedor__barraTitulo">
        <h2>RESUMEN</h2>
        <i class="fa-solid fa-plus"></i>
    </div>
    <div class="contenedor__child">
        <img src="../assets/perfil-celu.png" alt=" Diego Villan">
        <div class="descripcionPuesto">
            <h3><b>Portfolio</b></h3>
            <h4 class="descripcionPuesto__info">Proyecto</h4>
            <h5 class="descripcionPuesto__info">Editable</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur odit reprehenderit vel iure
                accusamus ea ipsa fuga. Dolores mollitia vero nisi tempore voluptas officia temporibus
                molestiae! Deleniti reprehenderit laudantium, reiciendis optio hic officia voluptatibus esse non
                quibusdam? Optio nostrum consequatur magnam officia quam veritatis facere adipisci nemo
                corporis? Facere, eaque.</p>
        </div>
        <div class="iconosEdicion">
            <i class="fa-solid fa-pen"></i>
            <i class="fa-solid fa-trash"></i>
        </div>
    </div>
</section>
