<section class="informacion">
    <div class="descripcion">
        <img src="../assets/Fotoperfil.jpg" height="150px" width="100px" alt="Diego Nahuel Villan, Fullstack developer" class="fotoPerfil">
        <div class="descripcion__info">
            <h3>Diego Nahuel Villan</h3>
            <h2>Fullstack Developer Jr.</h2>
            <h3 class="location"><i class="fa-solid fa-location-dot"></i>Avellaneda, Santa Fe</h3>
        </div>
    </div>
    <!-- SOBRE MI -->
    <div class="aboutMe">
        <div class="aboutMe__child">
            <h2>Sobre Mi</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque ipsam dignissimos sit eius
                voluptatum assumenda suscipit qui vel laudantium, obcaecati quia ipsum esse excepturi rem sequi
                veniam alias molestiae fuga, hic eum quis soluta eligendi similique in. Eveniet itaque, magnam
                deleniti dolor fugiat maxime, earum voluptates ex harum inventore quibusdam! Consectetur porro
                commodi ea culpa perferendis nemo sunt dolore placeat, nihil officia numquam sequi veniam
                expedita</p>
        </div>
        <div class="iconosEdicion">
            <i class="fa-solid fa-pen"></i>
        </div>
    </div>
</section>
