<!-- SECCION DE SKILLS-->
<section class="contenedor">
    <div class="contenedor__barraTitulo">
        <h2>Hard y soft skills</h2>
        <i class="fa-solid fa-plus"></i>
    </div>
    <!-- PRUEBA1 -->
    <div class="skills-container">
    <div class="skills-box">
        <div class="skills-title">
        <div class="skills-img">
         <img src="../assets/html5.png"     alt="" class="skills-icons">
         </div>
          <h3>HTML 5</h3>
         </div>
        </div>
        
        
         <div class="skills-box">
        <div class="skills-title">
        <div class="skills-img">
         <img src="../assets/css3.png" alt="" class="skills-icons">
         </div>
         <h3>CSS3</h3>
         </div>
         </div>
        
        
         <div class="skills-box">
        <div class="skills-title">
        <div class="skills-img">
         <img src="../assets/javascript.png" alt="" class="skills-icons">
         </div>
         <h3>JAVASCRIPT</h3>
         </div>
        </div>
        
           <div class="skills-box">
        <div class="skills-title">
        <div class="skills-img">
         <img src="../assets/git.png" alt="" class="skills-icons">
         </div>
         <h3>GIT</h3>
         </div>
       </div>
        
           <div class="skills-box">
        <div class="skills-title">
        <div class="skills-img">
         <img src="../assets/angular.png" alt="" class="skills-icons">
         </div>
         <h3>ANGULAR</h3>
         </div>
       </div>
        
           <div class="skills-box">
        <div class="skills-title">
        <div class="skills-img">
         <img src="../assets/java.png" alt="" class="skills-icons">
         </div>
         <div class="iconosEdicion">
            <h3>JAVA</h3>
            <div>
                <i class="fa-solid fa-pen"></i>
                <i class="fa-solid fa-trash"></i>
            </div>
        </div>
         </div>
        </div>
    <!-- PREBAFIN1 -->
    </div>
</section><!-- FIN SECCION DE SKILLS-EDITAR SI HAY TIEMPO,MEJORARLO -->
